// COLORS
$primary-1: #4a4a4a;
$primary-2: #383838;
$primary-3: #ebbb69;
$text-1: #2f2f2f;
$text-2: #999999;
$background: #f6f6f6;
$gray-button: #e5e5e5;
$gray-section: #c4c4c4;

//FONT SIZES
$h1: 1.25rem;
$h2: 1rem;
$body: 1rem;
